{% extends 'product/productbase.html' %}

{% block title %}Cart{% endblock title %}

{% block cartactive %}active{% endblock cartactive %}

{% block body %}

<div class="container mt-5 " style="background-color: #eee;border-radius: 15px;">
    <h1 class="mt-5 mb-3">Your Cart</h1>
    <!-- <div class="col-md-6"> -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  g-3">
            <div class="col">
                
                <div class="card mb-3" style="border-radius: 15px;">
                    <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    {% load static %}
                    <img src="{% static '' %}"
                        style="border-top-left-radius: 15px; border-top-right-radius: 15px;" class="img-fluid ratio ratio-1x1"
                        alt="Laptop" />
                    <a href="#!">
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body pb-0">
                    <div class="d-flex justify-content-between">
                        <div>
                            <p><a href="#!" class="text-dark">Dell Xtreme 270</a></p>
                            <p class="small text-muted">Laptops</p>
                        </div>
                        <div>
                            <div class="d-flex flex-row justify-content-end mt-1 mb-4 text-danger">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="small text-muted">Rated 4.0/5</p>
                        </div>
                    </div>
                </div>
                <hr class="my-0" />
                <div class="card-body pb-0">
                    <div class="d-flex justify-content-between">
                        <p><a href="#!" class="text-dark">$3,999</a></p>
                        <p class="text-dark">#### 8787</p>
                    </div>
                    <p class="small text-muted">VISA Platinum</p>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                        
                        <button type="button" class="btn btn-warning active">Remove from cart</button>
                        <button type="button" class="btn btn-primary">Buy now</button>
                    </div>
                </div>
            </div>
            
        </div>


        <!-- </div> -->
    </div>
</div>
</div>
<script src="{% static 'ecom/awesome/fontawesome.js' %}" crossorigin="anonymous"></script>
{% endblock body %}